global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'pix-prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'pix-prometheus:9090' ]

  - job_name: 'pix-eureka'
    scrape_interval: 5s
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: [ 'pix-eureka:8761' ]

  - job_name: 'pix-gateway'
    scrape_interval: 5s
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: [ 'pix-gateway:5000' ]

  - job_name: 'pix-itau'
    scrape_interval: 5s
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: [ 'pix-itau:8080' ]
